#root {
  margin: 0 auto;
  text-align: center;
}

.ant-layout-content {
  min-height: calc(100vh - 64px - 48px);
}

.ant-card-cover img {
  object-fit: cover;
  height: 200px;
}

.ant-btn {
  border-radius: 4px;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-alert {
  border-radius: 4px;
}
